.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
dev_check/
*.tar.gz
posc.Rcheck/
_problems/
CRAN-SUBMISSION
paper/_manuscript/
paper/.quarto/
paper/index_files/

/.quarto/
**/*.quarto_ipynb
paper/submission/
paper/replication-figures/
paper/Rplots.pdf
paper/jss.bst
paper/jss.cls
paper/jsslogo.jpg
